<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resource</key>
	<string>1</string>
	<key>corners</key>
	<dict>
		<key>BaseButtonCorner</key>
		<string>4</string>
		<key>BaseContentBackGroundCorner</key>
		<string>7.5</string>
		<key>BaseTextFieldCorner</key>
		<string>4</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>color_text_common</key>
		<string>#505050</string>
		<key>color_edit</key>
		<string>#505050</string>
		<key>color_title_text</key>
		<string>#505050</string>
		<key>color_edit_hint</key>
		<string>#cacaca</string>
		<key>color_underline</key>
		<string>#cacaca</string>
		<key>color_base_btn_text</key>
		<string>#FFFFFF</string>
		<key>color_tip</key>
		<string>#bc9600</string>
		<key>color_base</key>
		<string>#c49b29</string>
		<key>color_base_white_btn_text</key>
		<string>#c49b29</string>
		<key>color_privacy_policy</key>
		<string>#888888</string>
		<key>color_privacy_tip</key>
		<string>#bc9600</string>
		<key>color_visitor_login_text</key>
		<string>#6a81da</string>
		<key>color_account_login_text</key>
		<string>#ddb066</string>
		<key>color_phone_login_text</key>
		<string>#3ec79f</string>
		<key>color_quick_login_text</key>
		<string>#c45750</string>
		<key>color_account_bg</key>
		<string>#fcf3da</string>
		<key>color_select_account_text</key>
		<string>#505050</string>
	</dict>
</dict>
</plist>
